doctype html
html(lang="en")
include includes/document_head.pug
body.blue
  include includes/header.pug
  .container.toppad
    h2.pacif.white-text Who bought it?
    

    each entry in results
      - us = users[entry.userID]
      .historyBlock
        h6.white-text= entry.timeStamp
        h3.pacif.white-text= us
        // .row
          .col.s6.center-align.white-text.pacif
            |Oonagh: 25
          .col.s6.center-align.white-text.pacif
            |Tarns: 23

  include includes/document_foot.pug